<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>	
	<link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet" />
	<link href="css/estilos.css" type="text/css" rel="stylesheet" /> 	  	
</h:head>	

<h:body> 
	<div class="row-fluid" style="font-family:'Robot', sans-serif;background-color:;color:white;">
				<nav class="navbar navbar-dark bg-primary" >
				  <div class="container-fluid">
					<div class="navbar-header">
					   <h2> <span class="glyphicon glyphicon-edit"></span> Sistema de Gestion Personal  </h2>
					</div>
										
				  </div>
				  
				</nav>	
    </div>
	
	<h2> Home </h2>
	
	<h:form>
		
		<!-- <p:selectOneMenu  id="console" value="consolas" style="width:155px">
            <f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
            <f:selectItem itemLabel="PS4" itemValue="PS4" />
            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
        </p:selectOneMenu> -->
                
	</h:form>
	
	<h4>
	<h:form>
		<p:menu>
	        <p:submenu label="Menu">
	        	<p:menuitem value="Empleados" url="list.htm" icon="ui-icon-person" />
	            <p:menuitem value="Productos"  icon="ui-icon-cart" />
	            <p:menuitem value="Categorias"  icon="ui-icon-pencil"/>
	        </p:submenu>
	       
	    </p:menu>
	</h:form>
	</h4>
	
	<h:outputLink value="list.htm">Login page</h:outputLink>
	
	<h2> Registrar Personas Formulario JSF </h2>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Nombre"></h:outputLabel>
			<h:inputText value="#{personaBean.persona.nombre}"> </h:inputText>
			
			<h:outputLabel value="Apellido"></h:outputLabel>
			<h:inputText value="#{personaBean.persona.apellido}"></h:inputText>
			
			<h:outputLabel value="Sexo"></h:outputLabel>
			<h:selectOneMenu value="#{personaBean.persona.sexo}">
				<f:selectItem itemValue="M" itemLabel="Masculino"></f:selectItem>
				<f:selectItem itemValue="F" itemLabel="Femenino"></f:selectItem>
			</h:selectOneMenu>			
		</h:panelGrid>
		
		<h:commandButton value="Agregar" actionListener="#{personaBean.agregarPersona()}"></h:commandButton>
		
	</h:form>
	
	
</h:body>

</html>