<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>	
	<link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet" />
	<link href="css/estilos.css" type="text/css" rel="stylesheet" /> 	  	
</h:head>	
	
<h:body>
	<h2>Lista de Empleados</h2>	
	<table>
		<tr>
			<td>Nombre</td><td>Fecha Ingreso</td><td>Salario</td><td>SSN</td><td>  </td>
		</tr>
		
		<!-- <c:forEach items="${employees}" var="employee">
			<tr>
			<td>${employee.name}</td>
			<td>${employee.joiningDate}</td>
			<td>${employee.salary}</td>
			<td><a href="<c:url value='/edit-${employee.ssn}-employee' />">${employee.ssn}</a></td>
			<td><a href="<c:url value='/delete-${employee.ssn}-employee' />">Eliminar</a></td>
			</tr>
		</c:forEach> -->
		
	</table>
 	<h4>
		<br/>
		<h:outputLink value="nuevoEmpleado.htm"> Agregar Empleado </h:outputLink>
		<br/>
		<h:outputLink value="home.htm"> Home </h:outputLink>
	</h4> 
</h:body>
</html>
