<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h2> Registrar Personas Formulario JSF </h2>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Nombre"></h:outputLabel>
			<h:inputText value="#{personaBean.persona.nombre}"> </h:inputText>
			
			<h:outputLabel value="Apellido"></h:outputLabel>
			<h:inputText value="#{personaBean.persona.apellido}"></h:inputText>
			
			<h:outputLabel value="Sexo"></h:outputLabel>
			<h:selectOneMenu value="#{personaBean.persona.sexo}">
				<f:selectItem itemValue="M" itemLabel="Masculino"></f:selectItem>
				<f:selectItem itemValue="F" itemLabel="Femenino"></f:selectItem>
			</h:selectOneMenu>			
		</h:panelGrid>
		
		<h:commandButton value="Agregar" actionListener="#{personaBean.registrarPersona()}"></h:commandButton>
		
		<h:dataTable value="#{personaBean.lstPersonas}" var="per" rendered="#{personaBean.lstPersonas.size() > 0 eq true}">
			<h:column>
				<f:facet name="header">
					<h:outputLabel value="Nombre"></h:outputLabel>
				</f:facet>
				<h:outputLabel value="#{per.nombre}"></h:outputLabel>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputLabel value="Apellido"></h:outputLabel>
				</f:facet>
				<h:outputLabel value="#{per.apellido}"></h:outputLabel>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputLabel value="Sexo"></h:outputLabel>
				</f:facet>
				<h:outputLabel value="#{per.sexo}"></h:outputLabel>
			</h:column>
			<h:column>
				<h:commandLink value="Eliminar" actionListener="#{personaBean.eliminarPersona(per)}"></h:commandLink>
			</h:column>      
		</h:dataTable>
		
		
	</h:form>
	

	
</html>
